[submodule "roblox-lua-promise"]
	path = roblox-lua-promise
	url = https://github.com/evaera/roblox-lua-promise.git
[submodule "ProfileService"]
	path = ProfileService
	url = https://github.com/MadStudioRoblox/ProfileService.git
[submodule "Cmdr"]
	path = Cmdr
	url = https://github.com/evaera/Cmdr.git
[submodule "GA-SDK-ROBLOX"]
	path = GA-SDK-ROBLOX
	url = https://github.com/GameAnalytics/GA-SDK-ROBLOX.git
